.card {
  width: 322px;
  height: 328px;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__header {
  position: absolute;
  top: 15px;
  margin: 0;
  display: flex;
}

.card__name {
  margin: 0;
  padding: 2px 12px;
  background-color: white;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.cards__like-wrapper {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.card__image {
  width: 100%;
  object-fit: cover;
}
